---
import Layout from '../layouts/Layout.astro'
import Header from '../components/Header.astro'
import Button from '../components/Button.astro'
import HeroTattooCard from '../components/HeroTattooCard.astro'
---

<Layout>
  <main class="w-[90vw] mx-auto">
    <Header />

    <section data-section="HERO" class="text-center mt-16">
      <div class="space-y-7">
        <div class="space-y-4">
          <h1 class="text-center font-medium font-sans text-5xl tracking-tight">Команда <span class="underline">inkz</span> поможет вам <br /> не&nbsp;ошибиться в&nbsp;выборе тату мастера</h1>

          <p class="text-2xl leading-none text-neutral-500">
            Функционал нашего сервиса уже доступен <br />
            на нашей платформе
          </p>
        </div>

        <div class="flex justify-center gap-3">
          <Button text="Открыть ленту" />
          <Button variant="secondary" text="Стать мастером" />
        </div>
      </div>

      <HeroTattooCard />
    </section>
  </main>
</Layout>
