---
import Layout from '../layouts/Layout.astro'
import Header from '../components/Header.astro'
import Button from '../components/Button.astro'
import HeroTattooCard from '../components/HeroTattooCard.astro'

const tattooBlock = {
  last: '-mt-14 sm:mt-0',
  'pre-last': '-mt-2 sm:mt-0',
  center: 'mt-12 sm:mt-0',
}
---

<Layout>
  <main class="w-[90vw] mx-auto">
    <Header />

    <div class="mt-28 xl:mt-10 sm:mt-14 mb-44 sm:mb-28 space-y-52 sm:space-y-20">
      <section data-section="HERO" class="text-center">
        <div class="space-y-7">
          <div class="space-y-4">
            <h1 class="font-sans text-5xl font-medium tracking-tight text-center">Команда <span class="underline">inkz</span> поможет вам <br /> не&nbsp;ошибиться в&nbsp;выборе тату мастера</h1>

            <p class="text-2xl leading-none sm:text-lg sm:leading-tight text-neutral-500">
              Функционал нашего сервиса уже доступен <br class="sm:hidden" />
              на нашей платформе
            </p>
          </div>

          <div class="flex justify-center gap-3 sm:flex-col sm:gap-2">
            <Button className="sm:w-full" text="Открыть ленту" />
            <Button className="sm:w-full" variant="secondary" text="Стать мастером" />
          </div>
        </div>

        <div class="flex justify-center mt-32 gap-7 xl:mt-20 sm:mt-12 sm:flex-col">
          <HeroTattooCard className={tattooBlock.last} image="../../tribal-1.svg" nickname="@bozzhik" />
          <HeroTattooCard className={`${tattooBlock['pre-last']} sm:hidden`} image="../../tribal-2.svg" nickname="@bozzhik" />
          <HeroTattooCard className={`${tattooBlock.center} sm:hidden`} class:list={'sm:hidden'} image="../../tribal-1.svg" nickname="@bozzhik" />
          <HeroTattooCard className={`${tattooBlock['pre-last']} sm:hidden`} class:list="sm:hidden" image="../../tribal-2.svg" nickname="@bozzhik" />
          <HeroTattooCard className={`${tattooBlock.last} sm:hidden`} class:list="sm:hidden" image="../../tribal-1.svg" nickname="@bozzhik" />
        </div>
      </section>

      <section data-section="ABOUT" class="text-left">
        <div class="flex items-center justify-between sm:flex-col-reverse sm:gap-5">
          <div class="space-y-5">
            <div class="space-y-3">
              <h1 class="font-sans text-5xl font-medium tracking-tight">Кто такие INKZ?</h1>

              <p class="text-2xl sm:text-lg text-neutral-500 max-w-[50ch] xl:max-w-[40ch]">Мы — медиа-сервис, который объединяет тату-мастеров и людей, которые хотят сделать татуировку или найти идеи для эскизов</p>
            </div>

            <Button className="block sm:w-fit" text="О нашей команде" />
          </div>

          <img class="object-contain w-[40%] sm:w-full rounded-[10px]" src="../../about.jpg" alt="" />
        </div>
      </section>
    </div>
  </main>
</Layout>
