<header class="flex items-center justify-between mx-auto text-2xl sm:gap-5 w-container my-7 lg:text-xl md:text-base sm:text-xl tracking-small">
  <div class="h-10">
    <img class="s-full object-contain" src="../../public/logo.png" alt="" />
  </div>

  <a class="font-book" href="/about">О проекте</a>
</header>
