---
import {cn} from '../lib/utils'

interface Props {
  image: string
  nickname: string
  className?: string
}

const {image, nickname, className} = Astro.props
---

<div data-tattoo="card" class={cn('card purple relative p-5 pb-7 s-72 xl:s-60 sm:s-[90vw] rounded-xl transform-3d', className)}>
  <div data-tattoo="sketch" class="relative h-full cursor-pointer transform-3d">
    <img data-tattoo="sketch-image" class="absolute object-contain opacity-100 pointer-events-none aspect-square s-full sneakers transform-3d" src={image} />
  </div>
  <div data-tattoo="nickname" class="absolute bottom-0 text-white h-9 transform-3d">{nickname}</div>

  <img class="absolute inset-0 z-20 w-full h-full" src="../../public/card_noise.png" alt="" />
</div>

<script>
  import VanillaTilt from 'vanilla-tilt'

  const elements = document.querySelectorAll("[data-tattoo='card']")
  const elementsArray = Array.from(elements) as HTMLElement[]

  VanillaTilt.init(elementsArray, {
    max: 30,
    speed: 10000,
    glare: true,
    'max-glare': 0.3,
    reverse: true,
    reset: false,
    scale: 1.05,
  })
</script>

<style>
  .transform-3d {
    transform-style: preserve-3d;
  }
  [data-tattoo='card'] {
    background: linear-gradient(135deg, #444, #000);
  }

  [data-tattoo='sketch-image'] {
    transform: translate3d(0%, 0%, 0);
  }

  [data-tattoo='card']:hover [data-tattoo='sketch-image'] {
    transform: translateZ(40px);
    opacity: 0.85;
  }

  [data-tattoo='card']:hover [data-tattoo='nickname'] {
    transform: translateZ(20px);
  }
</style>
