<div data-tattoo="card" class="card purple relative p-5 pb-7 s-80 rounded-xl transform-3d">
  <div data-tattoo="sketch" class="h-full cursor-pointer relative transform-3d">
    <img data-tattoo="sketch-image" class="pointer-events-none opacity-100 absolute aspect-square s-full object-contain sneakers transform-3d" src="../../tribal-1.svg" />
  </div>
  <div data-tattoo="nickname" class="h-9 text-white absolute bottom-0 transform-3d">@bozzhik</div>
</div>

<script>
  import VanillaTilt from 'vanilla-tilt'

  const elements = document.querySelectorAll("[data-tattoo='card']")
  const elementsArray = Array.from(elements) as HTMLElement[]

  VanillaTilt.init(elementsArray, {
    max: 30,
    speed: 10000,
    glare: true,
    'max-glare': 0.5,
  })
</script>

<style>
  .transform-3d {
    transform-style: preserve-3d;
  }
  [data-tattoo='card'] {
    background: linear-gradient(135deg, #595959, #292929);
  }

  [data-tattoo='sketch-image'] {
    transform: translate3d(0%, 0%, 0);
  }

  [data-tattoo='card']:hover [data-tattoo='sketch-image'] {
    transform: translateZ(40px);
    opacity: 0.85;
  }

  [data-tattoo='card']:hover [data-tattoo='nickname'] {
    transform: translateZ(20px);
  }
</style>
